/*====================RESET START=======================*/

/* http://meyerweb.com/eric/tools/css/reset/ 
     v2.0 | 20110126
     License: none (public domain)
  */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*====================RESET END=======================*/

/*====================COMMON START=======================*/
:root {
  --orange: #ff7400;
  --index: calc(1vw + 1vh);
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.container {
  margin: 0 166px;
}
/*====================COMMON END=======================*/

/*====================HEADER START=======================*/
.header {
  background-image: url(../img/bg.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-item {
  color: #fff;
  text-shadow: 10px -7px 15px #9d822b;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-style: 14px;
  margin-right: 25px;
  transition: color 0.3s linear;
}

.nav-item:hover {
  color: #f6d637;
}

.cart {
  position: relative;
  border-right: 1px solid #fff;
  padding-right: 10px;
  height: 50px;
}

.cart-img {
  position: absolute;
  top: 18px;
  right: 7px;
}

.num {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  margin-left: 15px;
}
.num:hover {
  color: #f6d637;
  transition: color 0.3s linear;
}

.phone-text {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}

.phone-holder {
  display: flex;
  align-items: center;
}

.button {
  background-color: var(--orange);
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  padding: 14px 18px;
  border-radius: 30px;
  transition: background-color 0.3s linear;
}

.button:hover {
  background-color: #112a72;
  text-shadow: 0 0 15px #9d822b;
}

.header-down {
  position: relative;
}

.header-title {
  color: var(--orange);
  font-family: "Tinos", serif;
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  position: absolute;
  left: 0;
  margin-top: 222px;
  margin-bottom: 12px;
}

.header-suptitle {
  color: #fff;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}

.header-suptitle::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 61px;
  background-color: #fff;
  top: 128px;
  left: 30px;
}

.header-suptitle::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 61px;
  background-color: #fff;
  top: 128px;
  left: 340px;
}

.header-btn {
  background-color: var(--orange);
  padding: 14px 28px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  border-radius: 30px;
  transition: background-color 0.3s linear;
}

.header-button {
  color: #fff;
  text-decoration: none;
}

.header-btn:hover {
  background-color: #43b84d;
  text-shadow: 0 0 15px #9d822b;
}
/*====================HEADER END=======================*/

/*====================CARDS START=======================*/
.cards-holder {
  display: flex;
  justify-content: space-between;
}

.card {
  box-shadow: 10px 10px 40px 20px #0000001a;
  margin-right: 31px;
  width: 335px;
  background-color: #fff;
  margin-top: -80px;
  padding: 10px;
}

.card-image {
  display: flex;
  justify-content: center;
  padding-top: 31px;
}

.card-title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-family: "Tinos", serif;
  font-size: 26px;
  font-weight: 400;
}

.card-title span {
  color: #d67e35;
  margin-left: 5px;
}

.card-desk {
  text-align: center;
  font-family: "Tinos", serif;
  font-size: 26px;
  font-weight: 400;
  color: #414040;
}
/*====================CARDS END=======================*/

/*====================CARDS START=======================*/
.history {
  margin-top: 166px;
  padding-bottom: 200px;
}

.history-title {
  font-family: "Tinos", serif;
  font-size: 54px;
  font-weight: 400;
  width: 444px;
  text-align: center;
  margin-bottom: 21px;
}

.history-title span {
  color: #d67e35;
  margin-left: 5px;
}

.history-desk {
  color: #414040;
  font-size: 16px;
  width: 444px;
  text-align: start;
}
.history-number {
  display: flex;
  gap: 60px;
  width: 444px;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
}

.history-number span {
  display: block;
  color: #000;
}

.number-item {
  font-size: 35px;
  color: rgb(211 129 40);
}

.history-images {
  position: relative;
}

.history-holder {
  display: flex;
  justify-content: space-between;
}

.images-1 {
  position: absolute;
  z-index: 0;
  top: 30px;
  left: -500px;
}

.images-2 {
  position: absolute;
  z-index: 1;
  top: -110px;
  left: -330px;
}

.images-3 {
  position: absolute;
  z-index: 2;
  top: 210px;
  left: -255px;
}

/*====================CARDS END=======================*/

/*====================BLACK-BLOCK START=======================*/
.black-block{
  background-image: url(../img/black-bg.jpg);
  padding: 60px 0;
}

.left-title{
  color: var(--orange);
  font-family: "Tinos", serif;
  font-size: 52px;
  font-weight: 400;
  margin-bottom: 20px;
}

.left-text{
  font-weight: 700;
  font-size: 24px;
  color: #fff;
}

.right-btn {
  background-color: var(--orange);
  padding: 14px 28px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  border-radius: 30px;
  transition: background-color 0.3s linear;
}

.right-button {
  color: #fff;
  text-decoration: none;
}

.right-btn:hover {
  background-color: #5BB4EA;
  text-shadow: 0 0 15px #9d822b;
}

.block-holder{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*====================BLACK-BLOCK END=======================*/

/*====================MENU START=======================*/
.menu-title{
  font-family: "Tinos", serif;
  font-size: 54px;
  font-weight: 400;
  text-align: center;
  padding-top: 120px;
  margin-bottom: 140px;
}

.menu-title span{
  color: #d67e35;
}

.dishes{
  display: flex;
  justify-content: center;
}

.dishes-item{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.pizza-image{
  width: 495px;
  height: 480px;
  margin-right: 20px;
}

.dishes-text{
  font-family: "Tinos", serif;
  font-size: 26px;
  margin-left: 20px;
}
.adzhar{
  width: 160px;
  height: 140px;
}

.megrel{
  width: 160px;
  height: 140px;
}

.hinkali{
  width: 160px;
  height: 140px;
}
/*====================MENU END=======================*/

.copy{
  position: absolute;
  bottom: calc(var(--index)*2.5);
  /* opacity: .45; */
  font-size: calc(var(--index)*.75);
  letter-spacing: calc(var(--index)/37.5);
}